{% extends "layout.html" %}

{% block content %}

<h3 class="mt-5">{{ streamerName | title }}</h3>
<div class="container text-left mt-5">
    <div class="row">
        <div class="col-md-9">
            <iframe
                    src="https://player.twitch.tv/?channel={{ streamerName }}&autoplay=true"
                    height="355"
                    width="746"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
            </iframe>

        </div>
        <div class="col-md-3">
            <iframe frameborder="0"
                    scrolling="yes"
                    id="{{ streamerName }}"
                    src="https://www.twitch.tv/embed/hebo/chat"
                    height="395"
                    width="300">
            </iframe>
        </div>
    </div>
</div>

{% endblock %}

{% block title %} Streaming {{ streamerName | title }} {% endblock %}